<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    App Menu
  </a>
  <a href="/mvc/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
  <a href="/mvc/product" class="list-group-item list-group-item-action">Product</a>
  <a href="#" class="list-group-item list-group-item-action">Note</a>
  <div class="px-3 mt-3 mb-1 text-muted small">Account</div>
  <a href="#" class="list-group-item list-group-item-action">Logout</a>
</div>
